{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "PK = :PK",
    "expressionValues": {
      ":PK": $util.dynamodb.toDynamoDBJson("DATE#${ctx.args.date}")
    }
  },
  "limit": $util.toJson($ctx.args.count),
  "nextToken": $util.toJson($ctx.args.nextToken)
}

